<h4>Editing bookmark {{displayName}}</h4>

<form class="new-bookmark-form">
  <label class="url">
    URL
    {{input value=model.url type="url"}}
  </label>

  <label class="title">
    Title
    {{input value=model.title}}
  </label>

  <label class="description">
    Description
    {{textarea value=model.description}}
  </label>

  <button {{action 'cancel'}} class="cancel" type="button">
    Cancel
  </button>

  <button {{action 'saveBookmark'}} class="primary-action save">
    Save bookmark
  </button>

  {{#link-to 'bookmarks.delete' model}}Delete bookmark{{/link-to}}
</form>
