<h4>Editing bookmark {{model.displayName}}</h4>

<form class="new-bookmark-form">
  <label class="url">
    URL
    {{input value=model.url type="url"}}
  </label>

  <label class="title">
    Title
    {{input value=model.title}}
  </label>

  <label class="description">
    Description
    {{textarea value=model.description}}
  </label>

  <label class="private">
    {{input type="checkbox" name="private" checked=model.private}}
    Private
  </label>

  <label class="to-read">
    {{input type="checkbox" name="to-read" checked=model.toRead}}
    To read
  </label>

  <label class="tags">
    {{tag-editor tags=model.tags}}
  </label>

  <button {{action 'cancel'}} class="cancel" type="button">
    Cancel
  </button>

  <button {{action 'saveBookmark'}} class="primary-action save">
    Save bookmark
  </button>

  {{#link-to 'bookmarks.delete' model}}Delete bookmark{{/link-to}}
</form>
