<h4>Detail view for bookmark #{{id}}</h4>

<form class="new-bookmark-form">
  <h4>Add new bookmark</h4>

  <label class="url">
    URL
    {{input valueBinding="url" type="url"}}
  </label>

  <label class="title">
    Title
    {{input valueBinding="title"}}
  </label>

  <label class="title">
    Description
    {{textarea valueBinding="description"}}
  </label>

  <br />
  <button {{action 'saveBookmark'}} class="primary-action save">
    Save bookmark
  </button>
</form>
