<h4>Editing bookmark {{displayName}}</h4>

<form class="new-bookmark-form">
  <label class="url">
    URL
    {{input valueBinding="url" type="url"}}
  </label>

  <label class="title">
    Title
    {{input valueBinding="title"}}
  </label>

  <label class="description">
    Description
    {{textarea valueBinding="description"}}
  </label>

  <button {{action 'cancel'}} class="cancel" type="button">
    Cancel
  </button>

  <button {{action 'saveBookmark'}} class="primary-action save">
    Save bookmark
  </button>
</form>
